

.password-generator {
    display: flex;
    flex-direction: column;

    gap: var(--primary-gap);
}

.password-generator span {
    display: flex;
    flex-direction: column;
}

.password-generator span:has(input[type=checkbox]) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.password-generator span:has(button) {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: stretch;

    gap: var(--primary-gap);
}

/* Strength level */

.strength-level[data-level="0"] { color: rgb(212, 131, 17) }
.strength-level[data-level="1"] { color: rgb(128, 159, 48); }
.strength-level[data-level="2"] { color: rgb(235, 20, 217); }
.strength-level[data-level="3"] { color: rgb(229, 22, 22); }
.strength-level[data-level="4"] { color: rgb(4, 255, 54); }