:root {
    --primary-text: rgb(233, 91, 14);
    --links-text: rgb(236, 8, 92);

    --primary-bg: rgb(23, 23, 23);

    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --primary-vs: 0;
    --primary-hs: 25%;

    --primary-gap: 10px;

    --wip-color: #ffd166;
    --mjr-color: #ef476f;
    --sml-color: #8ecae6;
    --fix-color: #06d6a0;
    --upd-color: #f78c6b;
    --imp-color: #cdb4db;
    --add-color: #90be6d;
    --ref-color: #bde0fe;
    --mrg-color: #f4a261;
    --chg-color: #e9c46a;
    --angry-color: #ff6b6b;
    --del-color: #adb5bd;
}

body {
    color: var(--primary-text);

    background: var(--primary-bg);
    font-family: var(--primary-font);

    padding: var(--primary-vs) var(--primary-hs);
    min-height: 100vh;
}

body a {
    color: var(--links-text);
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

nav a::before {
    content: "» ";
}

nav a:hover::before {
    text-decoration: underline;
}

nav a[type="home"]::before {
    content: "« ";
}

footer {
    margin-top: calc(var(--primary-gap) * 4);
    text-align: center;
}
